/* Remove jumping scrollbar issue */

html {
    margin-left: calc(100vw - 100%);
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F4F4F4;
    color: #46454a;
}

hr {
    border: 1px #dfdeff solid;
}

code {
    background: #ffff8a87;
    font-size: 14px;
    border: 1px #6d6947 dotted;
    padding: 0px 6px;
}

.highlight {
    color: #1200ff;
}

.rotate-180 {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

@media screen and (min-width: 1000px) {
    .page-wrap {
        width: 1000px;
        margin: 0px auto;
    }
}

/* Smaller screens */

@media screen and (max-width: 1000px) {
    .page-wrap {
        width: 100%;
        margin: 0px auto;
    }
}

.page {
    background-color: #F4F4F4;
}

.title {}

.title h1 {
    margin: 10px 0px 10px 0px;
    text-align: center;
    color: #1200ff;
}

img.icon {
    height: 24px;
    vertical-align: middle;
}

img.icon36 {
    height: 36px;
    vertical-align: middle;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

nav {
    padding: 20px 20px 5px 20px;
}

nav a {
    font-size: 17px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    color: #0000ee;
}

nav a.selected {
    border-bottom: 2px #0000ee solid;
}

nav a:hover {
    /* color: burlywood !important; */
    text-decoration: underline;
}

nav a:visited {
    color: #0000ee;
}

.content {
    min-height: 100px;
    padding: 20px;
}

/* small screens */

@media screen and (max-width: 1000px) {
    .content {
        padding: 20px 0px;
    }
}

.panel {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px 1px #0000001f;
    /* box-shadow: 2px 2px 5px 1px #0400ff1f; */
    padding: 3px 16px;
    margin-bottom: 16px;
    overflow-wrap: break-word;
}

.panel>h1 {
    font-size: 20px;
    font-weight: normal;
    color: #1200ff;
}

.unit-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .unit-panel {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

span.status {
    background: #d9e1ff;
    padding: 10px;
    display: inline-block;
}

.footer {
    height: 30px;
    text-align: center;
}

span.tag {
    display: inline-block;
    padding: 0px 5px;
    border-radius: 5px;
}

div.unit-display {
    display: inline-block;
    width: 400px;
    margin: 10px 0px;
    padding: 6px;
}

/* Smaller screens */

@media screen and (max-width: 1000px) {
    div.unit-display {
        width: 330px;
    }
}

div.unit-display-outer>a>div.unit-display {
    border: 1px #1200ff dashed;
}

div.unit-display-outer>a>div.unit-display:hover {
    background: #afe4ff;
    border-style: solid;
    cursor: pointer;
}

div.unit-display-outer>a {
    color: #46454a;
}

div.unit-display h1 {
    display: inline;
    font-size: 20px;
    font-weight: normal;
}

div.unit-display>div.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hid {
    font-family: courier new;
}

div.quick-status-panel {
    display: grid;
    grid-template-columns: [col-1] 50% [col-2] 50%;
    grid-template-rows: [row-1] auto [row-2] auto;
}

div.quick-status-panel p.overview {
    grid-column: col-1;
    grid-row: row-1;
}

div.quick-status-panel p.num-connected {
    grid-column: col-2;
    grid-row: row-1;
}

div.quick-status-panel p.more {
    grid-column: col-1;
    grid-row: row-2;
}

span.quick-status-good {
    color: #4CAF50;
    font-size: 20px;
}

span.quick-status-warn {
    color: #FF9800;
    font-size: 20px;
}

span.quick-status-error {
    color: #f44336;
    font-size: 20px;
}

ul.expand-list {
    display: block;
    margin: 0px;
    padding: 0px;
}

ul.expand-list>li {
    grid-template-rows: [header] auto [expand] auto;
    display: grid;
    align-items: center;
    border-radius: 8px;
    grid-gap: 0px 20px;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0px;
    background: #cecaff1a;
    /* box-shadow: 1px 3px 0px 2px #0400ff12; */
    box-shadow: 2px 3px 0px 2px #0400ff21;
    /* background: #c3c3c36b;
    box-shadow: 2px 3px 0px 2px #2323233b; */
    cursor: pointer;
}

ul.expand-list>li div.expanded-box {
    justify-self: start;
    grid-column: 1/-1;
    grid-row: expand;
    display: none;
    width: 100%;
    font-size: initial;
}

ul.expand-list.farm>li {
    grid-template-columns: [col-dot] auto [col-name] 1fr [col-num] 120px[col-size] 20px;
}

ul.expand-list.farm>li span.dot {
    justify-self: start;
    grid-column: col-dot;
}

ul.expand-list.farm>li img {
    justify-self: start;
    grid-column: col-dot;
}

ul.expand-list.farm>li span.name {
    justify-self: start;
    grid-column: col-name;
    font-size: 20px;
    color: #303F9F;
    margin-left: 10px;
}

ul.expand-list.farm>li span.num-connected {
    justify-self: end;
    grid-column: col-num;
    font-size: 17px;
}

ul.expand-list.farm>li span.resize {
    justify-self: start;
    grid-column: col-size;
    font-size: 17px;
}

ul.expand-list.status>li {
    grid-template-columns: [col-dot] auto [col-info] 1fr [col-size] 20px;
}

ul.expand-list.status>li span.dot {
    justify-self: start;
    grid-column: col-dot;
}

ul.expand-list.status>li span.info {
    justify-self: start;
    grid-column: col-info;
    font-size: 20px;
    color: #303F9F;
    margin-left: 10px;
}

ul.expand-list.status>li span.resize {
    justify-self: start;
    grid-column: col-size;
    font-size: 17px;
}

span.machine-id {
    font-size: 20px;
    /* color: #1200ff; */
    color: white;
    padding: 0px 8px;
    background-color: #5892e2;
    margin: auto;
    border-radius: 16px;
}

ul.machine-status-list {
    list-style: none;
    padding-left: 0px;
}

ul.machine-status-list>li {
    padding: 3px;
}

ul.no-dots {
    list-style: none;
}

ul.farm-select {
    list-style-type: none;
    margin: 0;
    padding: 0px 40px 0px 40px;
    overflow: hidden;
    border-top: 1px #909090 solid;
    background-color: #d8d8d8;
    border-bottom: 1px #909090 solid;
}

ul.farm-select>li {
    float: left;
    border-right: 1px #909090 solid;
}

ul.farm-select>li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    /* color: #1200ff; */
    color: initial;
}

ul.farm-select>li a:hover {
    font-weight: bold;
    background-color: #ffffff;
    /* border-bottom: 5px #0000ee solid; */
}

ul.farm-select>li a.active {
    font-weight: bold;
    background-color: #ffffff;
    /* border-bottom: 5px #0000ee solid; */
}

div.content.control-panel {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: [main-col] 7fr [side-col] 3fr;
    grid-template-rows: [farm-sel-row] auto [content-row] auto;
}

.farm-select {
    grid-row: farm-sel-row;
    grid-column: 1/-1;
}

div.panel.farm-info {
    grid-row: content-row;
    grid-column: side-col;
}

div.panel.machine-info {
    grid-row: content-row;
    grid-column: main-col;
}

/* Small screens */

@media screen and (max-width: 1000px) {
    div.content.control-panel {
        display: block;
    }
    div.panel.farm-info {
        grid-row: content-row;
        grid-column: side-col;
    }
    div.panel.machine-info {
        grid-row: content-row;
        grid-column: main-col;
    }
}

ul.machine-control-panel-list {
    display: block;
    margin: 0px;
    padding: 0px;
}

ul.machine-control-panel-list>li {
    grid-template-columns: [indicator]32px [main] 1fr [options] 24px;
    grid-template-rows: [top-row] auto [data-row] auto;
    display: grid;
    align-items: center;
    border-radius: 8px;
    grid-gap: 5px 20px;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0px;
    background: #cecaff1a;
    /* box-shadow: 1px 3px 0px 2px #0400ff12; */
    box-shadow: 2px 3px 0px 2px #0400ff21;
    /* background: #c3c3c36b;
    box-shadow: 2px 3px 0px 2px #2323233b; */
    /* cursor: pointer; */
}

ul.machine-control-panel-list>li span.dot {
    grid-row: top-row;
    grid-column: indicator;
    align-self: start;
}

ul.machine-control-panel-list>li span.name {
    grid-row: top-row;
    grid-column: main;
}

ul.machine-control-panel-list>li div.options-box {
    grid-row: 1/-1;
    grid-column: options;
    cursor: pointer;
    display: block;
    align-self: start;
}

ul.machine-control-panel-list>li div.data {
    grid-row: data-row;
    grid-column: main;
    font-size: 16px;
    color: #289c2d;
    font-family: consolas;
    font-weight: bold;
}

/* Forms */

form.centre-form {
    width: 300px;
    margin: 0px auto;
}

form.centre-form input {
    display: block;
    width: 100%;
    border: 1px #adadad solid;
    padding: 2px;
    font-size: 16px;
    border-radius: 4px;
}

form.centre-form label {
    display: block;
}

form.centre-form .error {
    color: red;
    text-align: center;
}

form.centre-form label.required::after {
    content: "*";
    color: orange;
}

/* Buttons */

.style-button-1 {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 1em 0em 1em 0em;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #5f90ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    cursor: pointer;
    border: none;
}

.style-button-1:not(.success-button):hover {
    top: 0.2em;
    box-shadow: none;
}

@media all and (max-width:30em) {
    .style-button-1 {
        display: block;
        margin: 0.4em auto;
    }
}

.success-button {
    background-color: #4bda51 !important;
    box-shadow: none;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

body.modal-body {
    height: 100vh;
    overflow-y: hidden;
}

/* Modal Content */

.modal-content {
    margin: auto;
    padding: 20px;
    width: 500px;
    min-height: 400px;
}

@media screen and (max-width: 1000px) {
    .modal-content {
        margin: auto;
        padding: 20px;
        width: 80%;
    }
}

.modal .close-modal-btn {
    float: right;
    background: #ff2f2f;
    padding: 0px 8px;
    cursor: pointer;
    color: white;
}

.modal .close-modal-btn:hover {
    background: #a10a0a;
}